/* Footer design */
.footer {
  background-color: #1A1B56;
  color: white;
  font-size: 25px;
  padding:30px;
}

.footer a {
  color: white;
}

.footer a:hover {
  color:grey;
}

.footer .fa{
  padding:10px;
}

.footer p{
  padding:10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
